In [1]:
import sys
import numpy as np
import pandas as pd
from sklearn import cluster

In [2]:
df = pd.read_csv("checkins.dat", delimiter="|",
                 usecols=["latitude", "longitude"], skipinitialspace=True).dropna()

In [3]:
print df.shape
df.head()

(396634, 2)

     latitude   longitude
1   38.895112  -77.036366
3   33.800745  -84.410520
7   45.523452 -122.676207
9   40.764462 -111.904565
10  33.448377 -112.074037

In [4]:
ms = cluster.MeanShift(bandwidth=0.1)
ms.fit(df)

MeanShift(bandwidth=0.1, bin_seeding=False, cluster_all=True, min_bin_freq=1,
     n_jobs=1, seeds=None)

In [5]:
clusters = {}
for l in ms.labels_:
    if not clusters.has_key(l):
        clusters[l] = 0
    clusters[l] = clusters[l] + 1
    
for k in clusters.keys():
    if clusters[k] <= 15:
        del clusters[k]

In [6]:
hotels = ((np.array([33.751277, -118.188740]), "Los Angeles"),
          (np.array([25.867736, -80.324116]), "Miami"),
          (np.array([51.503016, -0.075479]), "London"),
          (np.array([52.378894, 4.885084]), "Amsterdam"),
          (np.array([39.366487, 117.036146]), "Beijing"),
          (np.array([-33.868457, 151.205134]), "Syndey"))

In [7]:
distances = []
for c in clusters.keys():
    center = ms.cluster_centers_[c]
    hotel = ""
    d = sys.float_info.max
    for h in hotels:
        dn = np.linalg.norm(h[0] - center)
        if dn < d:
            d = dn
            hotel = h[1]
    distances.append((center, d, hotel))

In [8]:
d = sorted(distances, key=lambda x: x[1])[0]
print d[0][0], d[0][1], d[1], d[2]

-33.8661460662 151.207082415 0.00302270344995 Syndey